section aside {
  position: relative;
}

/*
  Video
*/
#video-container:hover #progress-bar {
  transform: translateY(-36px);
}

#video-container:hover .playButton,
#video-container:hover .pauseButton,
#video-container:hover .fullscreenIcon,
#video-container:hover .volumeOnIcon,
#video-container:hover .volumeOffIcon {
  opacity: 1;
  transform: translateY(-40px);
}

#video-container:hover .timerElement {
  opacity: 1;
  color: white;
  transform: translateY(-36px);
}

video {
  cursor: pointer;
}


/*
  Progress Bar
*/
#progress-bar {
  display: none;
  position: absolute;
  transition: .5s;
  bottom: 10px;
  left: 25px;
  width: 90%;
  height: 7px;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, .2);
}

#progress-bar::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, .2);
}

#progress-bar::-webkit-progress-value {
  background-color: orange;
}


/*
  Buttons
*/
.button {
  width: 22px;
  height: 26px;
  position: absolute;
  cursor: pointer;
  transition: .5s;
}

.playButton,
.pauseButton {
  left: 10px;
  opacity: 0;
}

.timerElement {
  width: auto;
  height: auto;
  left: 50px;
  opacity: 0;
}

.volumeOnIcon,
.volumeOffIcon {
  right: 50px;
  opacity: 0;
}

.fullscreenIcon {
  right: 10px;
  opacity: 0;
}
